.product {
    border: 1px solid #ff0000;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}
.img-group{
    padding: 80px 20px;
    height: 200px;
}
.btn-shape{
    display: block;
    margin: 15px 10px;
}
.wall{
    width: 200px;
}
.btns-group button{
    margin: 20px;
}
.btns-group li{
    float: left;
}
.btns-group ul{
    list-style-type: none;
}
.result span{
    margin-left: 250px;
}