<section>
<h3>{{heading}}</h3>
<div class="container-product">
<div class="row">
<div class="side">
<div class="fakeimg" style="background-color:#45d2b0;">
    <div class="slidecontainer">
        <input type="range" min="0" max="240" ng-model="wallA" class="slider">
        <span class="es-value">{{Math.floor(wallA/12)}}fts{{wallA%12}}inches </span>     
    </div>
    <div class="slidecontainer1">
        <input type="range" min="0" max="240" ng-model="wallB" class="slider">
        <span class="es-value1">{{Math.floor(wallB/12)}}fts{{wallB%12}}inches</span>
   </div>
        <!-- <P ng-if="Math.floor(wallA/12)+Math.floor(wallB/12)<=5">{{(Math.floor(wallA/12)+Math.floor(wallB/12))*100}}</P>
        <P ng-if="Math.floor(wallA/12)+Math.floor(wallB/12)>5">{{500+((Math.floor(wallA/12)+Math.floor(wallB/12)-5)*200)}}</P> -->
        <p ng-if="warning">each must be greater than 1 or equal feet</p>
    </div>
    </div>
    <div class="side">
    <div class="fakeimg" style="background-color:#45d2b0;">
    <img width="200px" id="lShapeImg" />
    </div>
    </div>
    
    <div class="side">
        <div class="fakeimg">
       <h4 style="background-color: black; color: white; text-align: center;">Estimate</h4>
       <table>
           <tr>
    <th>Product</th>
    <th>Selected</th>
    <th>Shape</th>
    <th>Cost</th>
    </tr>
    <tr>
    <td>kitchen</td>
    <td>selected</td>
    <td>{{kitchenShape}} </td>
    <td>
        <span>
            <span ng-if="Math.floor(wallA/12)+Math.floor(wallB/12)>5">
                {{500+((Math.floor(wallA/12)+Math.floor(wallB/12)-5)*200)}}
            </span>
            <span ng-if="Math.floor(wallA/12)+Math.floor(wallB/12)<=5">
                {{(Math.floor(wallA/12)+Math.floor(wallB/12))*100}}
            </span>
        </span>
    </td>        
    </tr>
   

       </table>
    </div>
    </div>
    </div>
    <button type="button" ng-click="back()" class="button">back</button>
    <button  ng-click="toRegister()" class="button" >next</button>
</div>
</section>