<h3>{{heading}}</h3>
<div class="center">
    <div class="slidecontainer">
        <input type="range" min="0" max="240" ng-model="wallA" class="slider">{{Math.floor(wallA/12)}}fts{{wallA%12}}inches <br>
    </div>
    <div class="slidecontainer">
        <input type="range" min="0" max="240" ng-model="wallB" class="slider">
        <p>{{Math.floor(wallB/12)}}fts{{wallB%12}}inches </p>
        <P ng-if="Math.floor(wallA/12)+Math.floor(wallB/12)<=5">{{(Math.floor(wallA/12)+Math.floor(wallB/12))*100}}</P>
        <P ng-if="Math.floor(wallA/12)+Math.floor(wallB/12)>5">{{500+((Math.floor(wallA/12)+Math.floor(wallB/12)-5)*200)}}</P>
        <p ng-if="warning">each must be greater than 1 or equal feet</p>
    </div>
    <img width="200px" src="https://super.homelane.com/l-shaped-yellow-2.png"/>
    
    <button type="button" ng-click="toRegister()" class="button">next</button>
    <div>
        <h1>Details</h1> 
        <h2>products</h2>
        <ul>
            <li>
                kitchen => selected => {{kitchenShape}} =>
                <span ng-if="isKitchen">
                    <span ng-if="Math.floor(wallA/12)+Math.floor(wallB/12)>5">{{500+((Math.floor(wallA/12)+Math.floor(wallB/12)-5)*200)}}</span>
                    <span ng-if="Math.floor(wallA/12)+Math.floor(wallB/12)<=5">{{(Math.floor(wallA/12)+Math.floor(wallB/12))*100}}</span>
                </span>
                <span ng-if="isBed">
                    {{kitchenAamount}}
                </span>=>
                <span ng-if="kitchenCost1">{{kitchenCost1}} </span>=>
                <span ng-if="kitchenCost2">{{kitchenCost2}} </span>
            </li>
            <li>
                wordrobes =>
                <span ng-if="products[1]">selected</span>
                <span ng-if="!products[1]">not selected</span>
                <span ng-if="bedroomType">=>{{bedroomType}} =></span>
                <span ng-if="isBed">
                    <span ng-if="Math.floor(wallA/12)+Math.floor(wallB/12)>5">{{500+((Math.floor(wallA/12)+Math.floor(wallB/12)-5)*200)}}</span>
                    <span ng-if="Math.floor(wallA/12)+Math.floor(wallB/12)<=5">{{(Math.floor(wallA/12)+Math.floor(wallB/12))*100}}</span>
                </span>
            </li>
            <li>
                full interiors  
                <span ng-if="products[2]">selected</span>
                <span ng-if="!products[2]">not selected</span>
            </li>
        </ul>
    </div>
</div>