<section>
<h3 style="    text-align: center;">i need following interior products</h3>
<div class="container-product">
<div class="row">
<div class="side">
    <div class="fakeimg" style="background-color:#45d2b0;">
        <div class="product col-md-8" ng-mouseover="over('kitchen')" ng-mouseleave="leave('kitchen')" id="kitchen">
            <input type="checkbox" ng-model="kitchen" ng-checked="true" disabled=true>kitchen
        </div>
        <div class="product col-md-8" ng-mouseover="over('wardrobe')" ng-mouseleave="leave('wardrobe')" id="wardrobe">
            <input type="checkbox" ng-model="wardrobe" ng-change="isWordrobe()">wardrobe
        </div>
        <div class="product col-md-8" ng-mouseover="over('fullInteriors')" ng-mouseleave="leave('fullInteriors')" id="fullInteriors">
            <input type="checkbox" ng-model="fullInteriors" ng-change="isInterior()">fullInteriors
        </div>
        </div>

    </div>
    <div class="side">
    <div class="fakeimg" style="background-color:#45d2b0;">
        <img width="200px" id="image" />
        <!-- <div ng-if="kitchenImg">
            <img width="200px" id="kitchenImage" />
        </div>
        <div ng-if="wardrobeImg">
            <img width="200px"  src="https://super.homelane.com/wardrobe-grey.png"/>
        </div>
        <div ng-if="InteriorImage">
            <img width="200px"  src="https://super.homelane.com/interiors-grey-2.png"/>
        </div>  -->
    </div>
    </div>
    <div class="side">
        <div class="fakeimg">
       <h4 style="background-color: black; color: white; text-align: center;">Estimate</h4> 
      
    <table>
    <tr>
    <th >Product</th>
    <th>Selected</th>
    </tr>
     <tr>
    <td>kitchen</td>
    <td>selected</td>
  </tr>
   <tr>
    <td>wardrobe</td>
    <td><span ng-if="products[1]"> selected </span></td>
  </tr>
        <tr
            <td>fullInteriors</td>
    <td><span ng-if="products[2]"> selected </span></td>
  </tr>    
        </table>
    </div>
</div>
</div>

<button type="button" ng-click="back()" class="button">back</button>
<button type="button" ng-click="toShape()" class="button">next</button>

 </div>
 </section>