<h1>{{heading}}</h1>
<div class="btns-group">
    <div class="row">
        <ul>
            <li ng-repeat="cost in costs1">
                <button type="button" ng-click="onSelect1(cost)">
                    {{cost}}
                </button>
            </li>
        </ul>
    </div>
    <div class="row">
        <ul>
            <li ng-repeat="cost in costs2">
                <button type="button" ng-click="onSelect2(cost)">
                    {{cost}}
                </button>
            </li>
        </ul>
    </div>
</div>
<button type="button" ng-click="toRegister()" class="button">next</button>
<p ng-if="warning">please select</p>
<button type="button" ng-click="back()" class="button">back</button>
<div>
    <ul>
        <li>
            {{products[0]}} => {{kitchenShape}} => {{kitchenAamount}} =>
            estCost1: {{kitchenCost1}} =>estCost2 :{{kitchenCost2}}
        </li>
        <li>
            {{products[1]}} =>
            <span ng-if="isBedSheets">
                {{bedroomType}}=>{{bedRoomAmount}}=>
                estCost1: {{bedroomCost1}} estCost2: {{bedroomCost2}}
            </span>
        </li>
        <li>
            {{products[2]}}
        </li>
    </ul>
</div>
